body {
    background-color: #f1f1f1;
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

li:last-child {
    margin-bottom: 0;
}

input[type="text"] {
    width: 400px;
}

input[type="submit"] {
    margin-left: 10px;
}

form:last-child {
    margin-bottom: 0;
}