<!DOCTYPE html>
<html>

<head>
    <title>Todo List</title>
</head>

<body>
    <h1>Todo List</h1>
    <form action="/add" method="post">
        <input type="text" name="content" required>
        <input type="submit" value="Add">
    </form>
    <ul>
        {% for todo in todos %}
        <li>
            {{ todo.label }}
            <form action="/delete/{{todo.id}}" method="post">
                <input type="submit" value="Delete">
            </form>
            <form action="/update/{{todo.id}}" method="post">
                <input type="hidden" name="completed" value="{{todo.completed}}">
                <input type="checkbox" name="completed" onchange="this.form.submit()">
                <input type="submit" value="Update">
            </form>
        </li>
        {% endfor %}
    </ul>
</body>

</html>